/*
common styles
by tayir email:arnoldincredible@126.com;
*/
body{
	padding-top: 70px;
}

.main-logo{
	background: url(../img/main-logo.png) no-repeat;
	height: 262px;
	width: 433px;
	margin: auto;
}
.navbar li:hover{
	background-color: gray;
}

.logo-baize,.signin-form{
	margin-top: 15%;
}

footer {
	background: #f8f8f8;
	font-size: 11px;
	padding: 20px;
}
.copyright{
	text-align: center;
}